content-container {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 480px) {
  content-container {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 650px;
  }
}
